.blog-view {
    font-size: 15px;
    a {
      color: blue;
      font-weight: 600;
      text-decoration: underline;
    }
    pre {
      background-color: black;
      padding: 10px 20px;
      border-radius: 10px;
      color: whitesmoke;
    }
    ul, ol {
        padding-left: 40px; /* Adjust the padding as needed */
      }
      
      li {
        margin-bottom: 5px; /* Adjust the margin between list items */
      }
    p {
        text-align: justify; 
    }
  }